[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-allauth = "*"
django-crispy-forms = "*"
django-debug-toolbar = "*"
psycopg2 = "==2.7.7"
psycopg2-binary = "*"
whitenoise = "*"
djangorestframework = "==3.11.2"
django-rest-auth = "==0.9.5"

[requires]
python_version = "3.7"
